$primary: #17354E;
$gray-100: #d8d8d8;
$gray-200: #FAFAFA;
$gray-300: #E0E0E0;
$gray-400: #b5b5b5;
$gray-500: rgb(149 149 149);
$gray-600: #ffffff66;
$max-width: calc(100vw);
$rad-m: 8px;
$shadow-m: 1px 3px 5px 0px #00000026;

h3 {
  margin: 0;
  font-size: 1rem;
}

p {
  margin: 0;
}

fieldset {
  border: none;
}

button {
  border: none;
  background: none;
}

body {
  margin: 0;
  background-color: #f3f3f3 !important;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

ul {
  list-style-type: none;
}

.over-auto {
  overflow: auto;
}

.relative {
  position: relative !important;
}

.tt-box {
  background: #FFFFFF;
  border-radius: $rad-m;
  padding: .8rem;
}

.txt-gray-6 {
  color: rgb(0 0 0 / 50%);
}

.txt-bold {
  font-weight: 600;
}

.unselectable {
  user-select: none;
}

.container-full {
  width: $max-width;
  height: 100%;
}

.container-medium {
  max-width: $max-width;  
  width: 80%;
  height: 80%;
}

.container-large {
  width: 100%;
  height: 100%
}

.grid-item-3 {
  grid-column: span 3;
}

.layer-centered {
  justify-content: center;
  align-items: center;
}

.tt-grid-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
}

.tt-flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tt-flex-row {
  display: flex;
  flex-direction: row;
}

.tt-btn-primary {
  $lightDark: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 8px;
  border: 1px solid $lightDark;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
  transition: all .2s ease-in;
}

.tt-btn-primary:hover {
  box-shadow: inset 800px 0px 0px 0px rgba(0, 0, 0, 0.8);
  color: white;
}

.text-deco {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid white;
  box-shadow: inset 0px -1px 0px 0px #e9e9e9;
}

.g-xl {
  gap: 1.2rem !important;
}

.g-1 {
  gap: 1rem;
}

.g-m {
  gap: .6rem !important;
}

.p-s {
  padding: .3rem !important;
}

.gray-6 {
  background-color: $gray-600;
}

.shadow-m {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.background {
  left: 0%;
  top: 0%;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1;
}
