$primary: #17354E;
$gray-100: #d8d8d8;
$gray-200: #FAFAFA;
$gray-300: #E0E0E0;
$gray-400: #b5b5b5;
$gray-500: rgb(149 149 149);
$max-width: calc(100vw);
$rad-m: 8px;

h3 {
  margin: 0;
  font-size: 1rem;
}

fieldset {
  border: none;
}

body {
  background-color: #f3f3f3 !important;
  font-style: normal;
}

.tt-box {
  background: #FFFFFF;
  border-radius: $rad-m;
  padding: 1rem;
  box-shadow: 4px 8px 16px 7px #00000012;
}

.shadow-m {
  box-shadow: 4px 8px 16px 7px #00000012;
}

.container-full {

  width: $max-width;
  height: 100%;
}

.container-medium {
  max-width: $max-width;  
  width: 80%;
  height: 80%;
}

.container-large {
  width: 100%;
  height: 100%
}

.grid-item-3 {
  grid-column: span 3;
}

.tt-grid-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
}

.tt-flex-col {
  display: flex;
  flex-direction: column;
}

.tt-flex-row {
  display: flex;
  flex-direction: row;
}

.g-1 {
  gap: 1rem;
}
