$selected: rgb(0, 174, 255);

ul#tabNavigator {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: .8rem;
  margin: 0;
  li {
    cursor: pointer;
    .tab-content {
      transition: all .4s ease;
    }
  }
  li:hover {
    .tab-content {
      color: black;
    }
  }
}

.tab-active {
  color: $selected !important;
} 

.indicator {
  background-color: $selected;
  height: .2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .5s ease-in-out
}
